# no showing important mysql setting 
sleep/src/main/webapp/WEB-INF/spring/root-context.xml

sleep/target/

#no service key
sleep/src/main/java/org/kpu/sleepapp/domain/ServiceKey.java
mood/src/main/java/org/kpu/mood/domain/ServiceKey.java

mood/src/main/resources/application.properties
mood/target/

#개발중단
sleep/*