<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kpu.sleepapp.mapper.CalendarMapper">

     <select id="insertPlan">
 		insert into calendar(start, title, description, end, email) values(#{start}, #{title}, #{description}, #{end}, #{email})
     </select>
     
     <select id="selectPlans" resultType="CalendarVO">
 		select * from calendar where email = #{email}
     </select>

</mapper>