<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kpu.sleepapp.mapper.SRMapper">

     <select id="selectByEmailToday" resultType="SleepReportVO">
     	select * from sleep_report where email = #{email} and date = #{date}
 		<!--  select email, score, sleeping_time, date, element from sleep_report left join elements e on sleep_report.id = e.reportid where email = #{email} and date = #{date};-->
     </select>
     
     <select id="selectByEmailAll" resultType="SleepReportVO">
     <![CDATA[
 		select * from sleep_report where email = #{email}
 	 ]]>
     </select>
     
     <select id="selectByEmailDateValue" resultType="SleepReportVO">
 		select * from sleep_report where email = #{email} and date between date(#{date}) and date(#{end})
     </select>
     
     <select id="selectByEmailPeriodElements" resultType="ElementsVO">
 		select DISTINCT element from sleep_report left join elements e on sleep_report.id = e.reportid where sleep_report.email = #{email} and sleep_report.date between date(#{date}) and date(#{end});
     </select>
     
     <select id="selectByEmailDateElements" resultType="ElementsVO">
 		select DISTINCT element from sleep_report left join elements e on sleep_report.id = e.reportid where sleep_report.email = #{email} and sleep_report.date = #{date};
     </select>
     
     <select id="selectByEmailElements" resultType="ElementsVO">
 		select DISTINCT element from sleep_report left join elements e on sleep_report.id = e.reportid where sleep_report.email = #{email};
     </select>
	 
	 
</mapper>