<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kpu.sleepapp.mapper.userMapper">
	 
	 <select id="selectbyUserName" resultType="UserVO">
	 	select * from user where username = #{username};
	 </select>

	 <select id="insert">
	 	insert into user(username, email, address, phone, job, rolename, password, birthday) values(#{username}, #{email}, #{address}, #{phone}, #{job}, #{rolename}, #{password}, #{birthday})
	 </select>

</mapper>

